doctype html
html

  head

    //- Site Information
    block meta

      title Emissary • Tournament Codes

  body

    select#maps

      option Summoner's Rift
      option Howling Abyss
      option Crystal Scar
      option Twisted Treeline

    select#modes

      option Blind Pick
      option All Random
      option Draft Mode
      option Tournament Draft
      option Blind Draft

      //- Legacy Game Modes
      option(disabled) One for All

    select#specs

      option All
      option Friends
      option Lobby
      option None

    br
    h4 Lobby Name:
    input#lobbyName
    h4 Lobby Password:
    input#lobbyPass
    h4 Tournament Code:
    input#tournamentCode

    //- Javascript
    block javascript

      //- Required Libraries
      script(src="//code.jquery.com/jquery-latest.min.js")
      script(src="//coffeescript.org/extras/coffee-script.js")

      //- Local Dependencies
      each file in ['index'].reverse()
        script(type="text/coffeescript" src=file+".coffee")
