input
  width 100em

textarea
  width 100%
  height 30em

#teamTable
  margin: auto
  border 2px solid black

#teamName
  width 30px
  border-right 1px solid black
  text-align center
  
#divider td
  border-bottom 2px solid black

#summonerName
  width 10em

#summonersBox
  text-align center

#summonersBox img
  width 25px
  height 25px

#champ img
  width 25px
  height 25px

#kda
  text-align center
  width 3em