doctype html
html(ng-app="emissaryApp")

  head

    //- Site Information
    block meta

      title Emissary • Match Report

  body(ng-controller="MatchReportCtrl")

    table(ng-init="teams = ['teamPlayerParticipantsSummaries', 'otherTeamPlayerParticipantsSummaries']")#teamTable
      tr#infoTitle
        th Result
        th Champion
        th Level
        th Summoner Name
        th Spells
        th Gold
        th K/D/A
        th CS

      tbody(ng-repeat="team in teams")
        tr
          td(bgcolor="{{getWinLoseColor(data[team][0])}}" rowspan="{{(data[team].length+1)*2}}")#gameOutcomeBox
            label#gameOutcome {{getWinLoseString(data[team][0])}}
        tr(ng-repeat-start="summoner in data[team]" ng-click="toggleDetails(summoner, getTeamString($parent.$index))")
          td#championBox
            table
              td
                img(ng-src="{{getChampIcon(summoner)}}")#championIcon
              td
                label(style="{{getTeamColorShadow($parent.$index)}}") {{getPlayerStat(summoner, "skinName")}}
          td#championLevelBox
            {{getDetailedPlayerStat(summoner, "LEVEL")}}
          td#summonerNameBox
            {{summoner.summonerName}} ({{getPlayerStat(summoner, "level")}})
          td#summonersBox
            table
              td
                img(ng-src="{{getSpellIcon(summoner.spell1Id)}}")
              td
                img(ng-src="{{getSpellIcon(summoner.spell2Id)}}")
          td#goldBox
            {{getDetailedPlayerStat(summoner, "GOLD_EARNED")}}k
          td#kdaBox
            {{getDetailedPlayerStat(summoner, "CHAMPIONS_KILLED")}}/{{getDetailedPlayerStat(summoner, "NUM_DEATHS")}}/{{getDetailedPlayerStat(summoner, "ASSISTS")}}
          td#csBox
            {{getDetailedPlayerStat(summoner, "MINIONS_KILLED")}}
        tr(ng-repeat-end style="display: none" id="{{getTeamString($parent.$index)}}{{getPlayerStat(summoner, 'skinName')}}Details")
          td(colspan="8")
            div(id="{{getTeamString($parent.$index)}}{{getPlayerStat(summoner, 'skinName')}}DamageChart" style="height:250px")
              //-p
                {{getTeamString($parent.$index)}}{{getPlayerStat(summoner, 'skinName')}}DamageChart

        tr#divider
          td(colspan="8")

    //- Javascript
    block javascript

      //- Required Libraries
      script(src="//code.angularjs.org/1.3.0-beta.1/angular.min.js")