body
  font-family sans-serif

input
  width 100em

textarea
  width 100%
  height 30em

#teamTable
  margin: auto
  border 2px solid black
  border-collapse collapse

#infoTitle th
  border-bottom 2px solid black
  border-right 1px solid black

#championLevelBox, #summonersBox, #goldBox, #kdaBox, #csBox
  text-align center

#gameOutcomeBox, #championBox, #championLevelBox, #summonerNameBox, #summonersBox, #goldBox, #kdaBox, #csBox
  padding-left 6px
  padding-right 6px
  border-right 1px solid black

#gameOutcomeBox td
  width 30px
  
#divider td
  margin-top 0
  border-bottom 2px solid black

#championIcon
  width 25px
  height 25px

#summonerNameBox
  padding-left 10px
  width 13em

#summonersBox img
  width 25px
  height 25px
