doctype html
html(ng-app="emissaryApp")

  head

    //- Site Information
    block meta

      title Emissary • Match Report

  body(ng-controller="MatchReportCtrl")
    div#content-container
      div#game-info-container
        div#victory-team-content
          h1(style="color:{{getTeamColor(-1)}}") {{getVictoryStr()}}
        hr#victory-line
        div#game-info-content
          ul
            li#game-info Game Mode:
              label {{getGameModeStr()}}
            li#divider
            li#game-info Game Length:
              label {{getGameLengthStr()}}
            li#divider
            li#game-info Game ID:
              label {{matchData.gameId}}
      ion-tabs(ng-init="teams = ['teamPlayerParticipantsSummaries', 'otherTeamPlayerParticipantsSummaries']")#game-details
        ion-tab(title="Overview")#info-tabs
          section(ng-repeat="team in teams")#table-container
            header(style="color:{{getTeamColor(matchData[team][0].teamId)}}")#team-name {{getTeamString(matchData[team][0].teamId)}}
            article
              table#team-table
                tbody
                  tr#team-table-header
                    th#champion-th Champion
                    th#summoner-th Summoner
                    th#level-th Level
                    th#summoners-th Spells
                    th#kda-th K/D/A
                    th#cs-th CS
                    th#gold-th Gold
                    th#items-th Items
                  tr(ng-repeat="summoner in matchData[team]" style="background:{{getRowColor($index)}}")#champion-row
                    td#champion-td
                      a(href="{{getChampionLink(summoner)}}")
                        img(ng-src="{{getChampIcon(summoner)}}" a href="#" tooltip-placement="bottom" tooltip="display champion details" tooltip-append-to-body="true")
                        {{summoner.skinName}}
                    td#summoner-td
                      a(href="{{getSummonerLink(summoner)}}") {{summoner.summonerName}}
                        label(ng-show="displayLevel") ({{getSummonerLevel(summoner)}})
                    td#level-td {{getPlayerStatistics(summoner, "LEVEL")}}
                    td#summoners-td
                      img(ng-src="{{getSpellIcon(summoner.spell1Id)}}")
                      img(ng-src="{{getSpellIcon(summoner.spell2Id)}}")
                    td#kda-td {{getPlayerStatistics(summoner, "CHAMPIONS_KILLED")}}/{{getPlayerStatistics(summoner, "NUM_DEATHS")}}/{{getPlayerStatistics(summoner, "ASSISTS")}}
                    td#cs-td
                      span(a href="#" tooltip-placement="bottom" tooltip="{{getAverageCs(summoner)}} /min" tooltip-append-to-body="true") {{getPlayerStatistics(summoner, "MINIONS_KILLED")}}
                    td#gold-td
                      span(a href="#" tooltip-placement="bottom" tooltip="{{getAverageGold(summoner)}} /min" tooltip-append-to-body="true") {{parseInt(getPlayerStatistics(summoner, "GOLD_EARNED")/100)/10}}k
                    td#items-td
                      a(ng-repeat="i in [0, 1, 2, 3, 4, 5, 6]" href="{{getItemLink(getSummonerItemId(summoner, i))}}" ng-mouseover="initTooltip(getSummonerItemId(summoner, i))" class="item-{{getSummonerItemId(summoner, i)}}" data-tooltip-html-unsafe="lololol" tooltip-placement="bottom" tooltip-append-to-body="true")
                        img(ng-src="{{getItemIcon(getSummonerItemId(summoner, i))}}")
                      //-a(ng-repeat="i in [0, 1, 2, 3, 4, 5, 6]" href="{{getItemLink(getSummonerItemId(summoner, i))}}" tooltip-placement="bottom" data-tooltip-html-unsafe="{{getItemTooltip(getSummonerItemId(summoner, i))}}" tooltip-append-to-body="true")
                        img(ng-src="{{getItemIcon(getSummonerItemId(summoner, i))}}")
                tfoot  
                  tr
                    th(colspan="2")#team-totals Team Totals
                    th {{getTeamTotal(team, "LEVEL")}}
                    th
                    th {{getTeamTotal(team, "CHAMPIONS_KILLED")}}/{{getTeamTotal(team, "NUM_DEATHS")}}/{{getTeamTotal(team, "ASSISTS")}}
                    th {{getTeamTotal(team, "MINIONS_KILLED")}}
                    th {{(parseInt(getTeamTotal(team, "GOLD_EARNED")/100)/10)}}k
                    th
        ion-tab(title="Damage")
          section(ng-repeat="team in teams")#table-container
            header(style="color:{{getTeamColor(matchData[team][0].teamId)}}")#team-name {{getTeamString(matchData[team][0].teamId)}}
            article
              table#team-table
                tbody
                  tr#team-table-header
                    th#champion-th Champion
                    th#summoner-th Summoner
                    th#tdd-th
                      span(a href="#" tooltip-placement="bottom" tooltip="True Damage Dealt" tooltip-append-to-body="true") TDD
                    th#pdd-th
                      span(a href="#" tooltip-placement="bottom" tooltip="Physical Damage Dealt" tooltip-append-to-body="true") PDD
                    th#mdd-th
                      span(a href="#" tooltip-placement="bottom" tooltip="Magical Damage Dealt" tooltip-append-to-body="true") MDD
                    th#td-th
                      span(a href="#" tooltip-placement="bottom" tooltip="Total Damage Dealt" tooltip-append-to-body="true") TD
                    th#tdr-th
                      span(a href="#" tooltip-placement="bottom" tooltip="True Damage Received" tooltip-append-to-body="true") TDR
                    th#pdr-th
                      span(a href="#" tooltip-placement="bottom" tooltip="Physcial Damage Received" tooltip-append-to-body="true") PDR
                    th#mdr-th
                      span(a href="#" tooltip-placement="bottom" tooltip="Magical Damage Received" tooltip-append-to-body="true") MDR
                    th#tr-th
                      span(a href="#" tooltip-placement="bottom" tooltip="Total Damage Received" tooltip-append-to-body="true") TR
                  tr(ng-repeat="summoner in matchData[team]" style="background:{{getRowColor($index)}}")
                    td#champion-td
                      a(href="{{getChampionLink(summoner)}}")
                        img(ng-src="{{getChampIcon(summoner)}}" a href="#" tooltip-placement="bottom" tooltip="display champion details" tooltip-append-to-body="true")
                        {{summoner.skinName}}
                    td#summoner-td
                      a(href="{{getSummonerLink(summoner)}}") {{summoner.summonerName}}
                        label(ng-show="displayLevel") ({{getSummonerLevel(summoner)}})
                    td#tdd-td {{getPlayerStatistics(summoner, "TRUE_DAMAGE_DEALT_PLAYER")}}
                    td#pdd-td {{getPlayerStatistics(summoner, "PHYSICAL_DAMAGE_DEALT_PLAYER")}}
                    td#mdd-td {{getPlayerStatistics(summoner, "MAGIC_DAMAGE_DEALT_PLAYER")}}
                    td#td-td {{getPlayerStatistics(summoner, "TOTAL_DAMAGE_DEALT")}}
                    td#tdr-td {{getPlayerStatistics(summoner, "TRUE_DAMAGE_TAKEN")}}
                    td#pdr-td {{getPlayerStatistics(summoner, "PHYSICAL_DAMAGE_TAKEN")}}
                    td#mdr-td {{getPlayerStatistics(summoner, "MAGIC_DAMAGE_TAKEN")}}
                    td#tr-td {{getPlayerStatistics(summoner, "TOTAL_DAMAGE_TAKEN")}}
                tfoot  
                  tr
                    th(colspan="2")#team-totals Team Totals
                    th {{getTeamTotal(team, "TRUE_DAMAGE_DEALT_PLAYER")}}
                    th {{getTeamTotal(team, "PHYSICAL_DAMAGE_DEALT_PLAYER")}}
                    th {{getTeamTotal(team, "MAGIC_DAMAGE_DEALT_PLAYER")}}
                    th {{getTeamTotal(team, "TOTAL_DAMAGE_DEALT")}}
                    th {{getTeamTotal(team, "TRUE_DAMAGE_TAKEN")}}
                    th {{getTeamTotal(team, "PHYSICAL_DAMAGE_TAKEN")}}
                    th {{getTeamTotal(team, "MAGIC_DAMAGE_TAKEN")}}
                    th {{getTeamTotal(team, "TOTAL_DAMAGE_TAKEN")}}
        ion-tab(title="CS")

        ion-tab(title="Gold")

        ion-tab(title="Utility")

        ion-tab(title="Misc.")


    //- Javascript
    block javascript

      //- Required Libraries
      script(src="//code.angularjs.org/1.3.0-beta.2/angular.min.js")
      script(src="//code.ionicframework.com/nightly/js/ionic.bundle.js")

      link(href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css", rel="stylesheet")
      link(href="//code.ionicframework.com/nightly/css/ionic.min.css" rel="stylesheet")

      link(href="//code.ionicframework.com/nightly/fonts/ionicons.eot")
      link(href="//code.ionicframework.com/nightly/fonts/ionicons.woff")
      link(href="//code.ionicframework.com/nightly/fonts/ionicons.svg")
      link(href="//code.ionicframework.com/nightly/fonts/ionicons.ttf")