doctype html
html

  head

    //- Site Information
    block meta

      title Emissary • Tournament Codes

  body

    button(onclick="update()") refresh

    select#maps

      option Summoner's Rift
      option Howling Abyss
      option Crystal Scar
      option Twisted Treeline

    select#modes

      option Blind Pick
      option All Random
      option Draft Mode
      option Tournament Draft


      //- Legacy Game Modes
      option(disabled)
      option(disabled) Blind Draft
      option(disabled) One for All

    select#players
      each val in [1, 2, 3, 4, 5]
        option(value=val)=val

    select#specs

      option All
      option Friends
      option Lobby
      option None

    br
    h4 Lobby Name:
    input#lobbyName
    h4 Lobby Password:
    input#lobbyPass
    h4 Tournament Code:
    input#single

    br
    label Random Password
      input(type="checkbox")#rpass
    br
    label Random Hash
      input(type="checkbox")#rhash

    br
    label Use Index
      input(type="checkbox")#index
    br
    h4 Number of Extra Codes to Generate:
    input(type="number")#number
    br
    textarea#multi

    //- Javascript
    block javascript

      //- Required Libraries
      script(src="//code.jquery.com/jquery-latest.min.js")
      script(src="//rawgithub.com/medialize/URI.js/gh-pages/src/URI.min.js")
      script(src="//coffeescript.org/extras/coffee-script.js")

      //- Local Dependencies
      script(type="text/coffeescript" src="tournament/index.coffee")
